.shop-cart {
    transition: all .3s ease;
    display: grid;
    grid-template-rows: [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    row-gap: 15px;


    &__toggle {
        grid-row: tog-s/tog-e;
        grid-column: s/e;
        justify-self: end;
    }

    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
    }
    
}

.shop-cart {

    &__toggle {
        z-index: 6;
    }

    &__content {
        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);

    }
}

.cart-button {
    background-color: #333;
    font-size: 18px;
    border-radius: 25px 0 0 24px;
    height: 40px;
    width: 76px;
    color: white;
    font-size: 28px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
    grid-template-columns:  30px [s] 1fr [e] 30px;

    &__title {
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
        grid-row: title-s/title-e;
        grid-column: s/e;
        
    }

    &__products {
        padding-top: 50px;
        display: grid;
        grid-row: products-s/products-e;
        grid-column: s/e;
        overflow-y: scroll;
        row-gap: 45px;
    }

    &__footer {
        display: grid;
        grid-row: footer-s/footer-e;
        grid-column: 1/-1;
    }
}

.cart-footer {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [check-s] 1fr [check-e sub-s] 1fr [sub-e] 27px  [price-s] 70px [price-e] 31px;
    align-items: center;
    background-color: #1a1a1a;
    height: 113px;

    & > * {
        grid-row: s/e;
    }

    &__checkout {
        grid-column: check-s/check-e;

        display: grid;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79;
        font-family: 'Open Sans';
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active { 
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        justify-self: end;
        font-size: 2rem;
        grid-column: sub-s/sub-e;


    }

    &__price {
        justify-self: start;
        font-size: 2rem;
        color: white;
        font-weight: 600;
        grid-column: price-s/price-e;

    }
}

.cart-hidden {
    transform: translateX(520px)
}