.purchase-history {

    &__content {
        margin: 37px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    &__page-title {
        border-bottom: 1px solid #CCC;
    }

    &__border-bottom {
        border-bottom: 1px solid #F2F2F2;
    }

}

.purchases {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 80px);
    width: 360px;
}

.purchase-detail {
    width: 600px;
    display: grid;
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-template-rows: [s] 1fr [sm] 1fr [m-s] 25px [m-e] 1fr [me] 1fr [e];

    &__order-number {
        grid-column: s/m;
        grid-row: s/sm;
    }
    
    &__order-date {
        grid-column: s/m; 
        grid-row: sm/m-s;
    }
    
    &__shipping {
        grid-column: s/m;
        grid-row: m-e/me;
    }
    
    &__total {
        grid-column: m/e;
        grid-row: s/sm;
    }
    
    &__credit-card {
        grid-column: m/e;
        grid-row: sm/m-s;
    }

    &__track-shippment {
        grid-row: m-e/me;
        grid-column: m/e;
    }

    &__print-receipt {
        grid-row: me/e;
        grid-column: m/e;
    }

    &__track-shippment,
    &__print-receipt {
        color: #00CB79;
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: underline;
        width: 150px;
        justify-self: center;
        
    }
    
}

.purchase-detail-label {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: [s] 1fr [m] 1fr [e];
    gap: 10px;

    & > * {
        grid-row: s/e;
    }

    &__title {
        grid-column: s/m;
        text-align: right;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__value {
        grid-column: m/e;
        text-align: left;
        color: #666666;
        font-size: 1.2em;

    }
}